@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    /* font-family: sans-serif, Arial; /* Use for card header */
    /* font-family: 'Combo', cursive; */  /* Use for card body and start btn */
}

body{
    background-image: url(./img/bg1.jpg);
    background-position:calc(-50% -50%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  
}

/* styling the start button */
.start{
    position: absolute;
   
}

.start button{
    display: none;
    padding: .5rem 1rem;
    font-family: 'Combo', cursive;
   background-color: rgb(29, 109, 29);
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    outline: none;
    border: 2px dashed red;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.start button:hover{
    color: red;
    background-color: white;
    border: 2px double  rgb(29, 109, 29);
}

.blackjack-container{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background: yellow;
   border: 2px solid white;
   border-radius: 5px;
   

}

.header{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    user-select: none;
    padding: 0.9rem 0rem;
    font-family: 'Combo', cursive;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Combo', cursive;
    font-size: 1.5rem;
}

.card div{
    padding: 0.2rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
   
}

.buttons button{
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    border: 2px solid aliceblue;
    background: darkgreen;
    color: white;
    cursor: pointer;
    
}

.buttons button:hover{
background-color:  wheat;
color: red;
}



.footer{
    padding: .9rem;
    text-align: center;
}

.footer div{ 
    font-size: 0.9rem;
    font-weight: 600;
    color: red;
}
