@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    /* font-family: sans-serif, Arial; /* Use for card header */
    /* font-family: 'Combo', cursive; */ */  /* Use for card body and start btn */
}

body{
    background-image: url(./img/bg.jpg);
    background-position:calc(-50% -50%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  
}

/* styling the start button */
.start{
    position: absolute;
   
}

.start button{

    padding: .5rem 1rem;
    font-family: 'Combo', cursive;
   background-color: rgb(29, 109, 29);
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    outline: none;
    border: 1px solid rgb(29, 109, 29);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.start button:hover{
    color: rgb(29, 109, 29);
    background-color: white;    
}

.blackjack-container{
    width: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background: green;

}
.header{
  
}